/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: #303E73;
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
}
