.error {
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

.heading {
  color: white;
  font-size: 1.6rem;
}

.price-comparison-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.price {
  background-color: #7A85AD;
  margin-right: 15px;
  padding: 10px;

  &:last-of-type {
    margin-right: 0px;
  }
}

.field {
  color: black;
  display: flex;
  font-size: 1.6rem;
}

.try-again {
  cursor: pointer;
  text-decoration: underline;
}

.value {
  color: black;
  font-weight: bold;
  margin-left: auto;
  padding-left: 5px;
}
