<div class="price-comparison">
  <img class="loading-spinner"
    *ngIf="isLoading"
    src="assets/loading-spinner.svg" />

  <p *ngIf="hasError" class="error">
    Apologies, an error has occured.
    <br/>
    Please <span class="try-again" (click)="getMoviePriceComparison()">try again.</span>
  </p>

  <p *ngIf="hasNoPrice" class="error">
    No movie prices were found :(
  </p>

  <div *ngIf="moviePrices && moviePrices.length">
    <p class="heading">Prices:</p>

    <div class="price-comparison-list">
      <div class="price"
        *ngFor="let moviePrice of moviePrices">
        <p class="field">Provider: <span class="value"> {{moviePrice.Provider}}</span></p>
        <p class="field">Price: <span class="value"> ${{getPriceDisplay(moviePrice.Price)}}</span></p>
      </div>
    </div>
  </div>
</div>
