<div class="movie-summary">
  <img
    alt="{{movieSummary.Title}}"
    class="poster"
    height="458"
    src="{{movieSummary.Poster}}"
    width="300" />

  <p class="title">
    {{movieSummary.Title}} <span class="year">({{movieSummary.Year}})</span>
  </p>

  <p class="call-to-action"
    (click)="comparePrices()"
    *ngIf="!displayComparison">
    Compare prices
  </p>

  <app-movie-price-comparison
    *ngIf="displayComparison"
    [movieId]="movieSummary.Id">
  </app-movie-price-comparison>
</div>
