@import "../../../breakpoints.scss";

.call-to-action {
  background-color: #D4C56A;
  color: black;
  cursor: pointer;
  font-size: 2rem;
  padding: 5px 10px;
}

.movie-summary {
  align-items: center;
  background-color: #515F90;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;

  @media (min-width: $max-mobile-width) {
    width: 400px;
  }
}

.poster {
  max-width: 100%;
}

.title {
  color: white;
  margin: 10px 0;
  font-size: 1.6rem;
}

.year {
  color: #B3B3B3;
}
