<div class="movie-list-wrapper">
  <img class="loading-spinner"
    *ngIf="isLoading"
    src="assets/loading-spinner.svg" />

  <p *ngIf="hasError" class="error">
    Apologies, an error has occured.
    <br/>
    Please <span class="try-again" (click)="getMovieList()">try again.</span>
  </p>

  <p *ngIf="hasNoMovies" class="error">
    No movie summaries were found :()
  </p>

  <div class="movie-list"
    *ngIf="movieSummaries && movieSummaries.length">
    <app-movie-summary
      class="movie-summary"
      *ngFor="let movie of movieSummaries"
      [movieSummary]="movie">
    </app-movie-summary>
  </div>
</div>
