@import '../../breakpoints.scss';

.error {
  color: white;
  font-size: 2rem;
  margin: auto;
  text-align: center;
}

.loading-spinner {
  margin: auto;
}

.movie-list {
  display: flex;
  flex-flow: column;
  width: 100%;

  @media (min-width: $max-mobile-width) {
    align-items: center;
    width: auto;
  }

  @media (min-width: $max-tablet-width) {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.movie-list-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.movie-summary {
  margin-bottom: 20px;

  @media (min-width: $max-tablet-width) {
    margin: 20px;
  }
}

.try-again {
  cursor: pointer;
  text-decoration: underline;
}
